

<div class="row justify-content-beginning pl-5">
  <div class="col-12 col-md-10">
    {{#each articles as |article|}}
      <div class="card mb-3 shadow  {{#if article.favorite}}border-warning border-3{{/if}}">
        <div class="card-header">
          <div class="row">
            <div class="col-12 col-md-9">
              <a href="{{article.tag}}" target="_blank"><h5 class="mb-1">{{article.title}}</h5></a>
            </div>
            <div class="col order-first order-md-last text-left text-md-right">
              {{#unless article.favorite}}
                <button type="button" class="btn btn-warning btn-sm save-button align-self-start" data-artid = "{{article._id}}" data-favorite="true"><i class="far fa-save"></i></button>
                {{!-- <button type="button" class="button-2 btn btn-outline-warning d-none btn-sm save-button align-self-start" data-artid = "{{article.artId}}" data-favorite="true"><i class="far fa-save"></i></button> --}}
              {{/unless}}
            </div>
          </div>
        </div>
          <div class="card-body clearfix">
            {{#if article.image}}<a href="{{article.image}}"><img src="{{article.image}}"/></a>{{/if}}
            <p class="card-text">{{article.text}}</p>
          </div>
      </div>
    {{else}}
      <div class="card mb-3 shadow">
        <div class="card-header d-flex w-100 justify-content-between">
          <h4>Ooops..</h4>
        </div>
        <div class="card-body">
          <p class="card-text">There are no current articles - Scrape to find some more</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>